The SAT, or __Scholastic Aptitude Test__, is an exam that U.S. high school students take before applying to college. Colleges take the test scores into account when deciding who to admit, so it's fairly important to perform well on it.

__The test consists of three sections, each of which has 800 possible points__. The combined score is out of 2,400 possible points (while this number has changed a few times, the data set for our project is based on 2,400 total points). Organizations often rank high schools by their average SAT scores. The scores are also considered a measure of overall school district quality.

New York City makes its [data on high school SAT scores available online](https://data.cityofnewyork.us/Education/2012-SAT-Results/f9bf-2cp4), as well as the [demographics for each high school](https://data.cityofnewyork.us/Education/2014-2015-DOE-High-School-Directory/n3p6-zve2).

#### Background Research (Note: copied from the DataQuest course)
- [New York City](https://en.wikipedia.org/wiki/New_York_City)
- [The SAT](https://en.wikipedia.org/wiki/SAT)
- [Schools in New York City](https://en.wikipedia.org/wiki/List_of_high_schools_in_New_York_City)
- [Our data](https://data.cityofnewyork.us/browse?q=education)

Some observations:
- Only high school students take the SAT, so we'll want to focus on high schools.
- New York City is made up of five boroughs, which are essentially distinct regions.
- New York City schools fall within several different school districts, each of which can contains dozens of schools.
- Our data sets include several different types of schools. We'll need to clean them so that we can focus on high schools only.
- Each school in New York City has a unique code called a `DBN`, or district borough number.
- Aggregating data by district will allow us to use the district mapping data to plot district-by-district differences.

####  Read in the data

Add each of the dataframes to the dictionary __data__.

In [28]:
import pandas as pd

data_files = [
    "ap_2010.csv",
    "class_size.csv",
    "demographics.csv",
    "graduation.csv",
    "hs_directory.csv",
    "sat_results.csv"
]

data = {}

for file in data_files:
    name = file[:-4]
    df = pd.read_csv('schools/{}'.format(file))
    data[name] = df
data.keys()

dict_keys(['ap_2010', 'class_size', 'demographics', 'graduation', 'hs_directory', 'sat_results'])

In [29]:
print(data['sat_results'].head())

      DBN                                    SCHOOL NAME  \
0  01M292  HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1  01M448            UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2  01M450                     EAST SIDE COMMUNITY SCHOOL
3  01M458                      FORSYTH SATELLITE ACADEMY
4  01M509                        MARTA VALLE HIGH SCHOOL

  Num of SAT Test Takers SAT Critical Reading Avg. Score SAT Math Avg. Score  \
0                     29                             355                 404
1                     91                             383                 423
2                     70                             377                 402
3                      7                             414                 401
4                     44                             390                 433

  SAT Writing Avg. Score
0                    363
1                    366
2                    370
3                    359
4                    384

In [30]:
for key, value in data.items():
    print("===", key.lower(), "CSV====", "\n", value[35:54], "\n")

=== ap_2010 CSV====
        DBN                                         SchoolName AP Test Takers   \
35  02M600                          HS FOR FASHION INDUSTRIES              70
36  02M615                                        CHELSEA VHS              52
37  02M620                                 NORMAN THOMAS H.S.              34
38  02M625                       HS COMMUNICATION GRAPHIC ART              79
39  02M630                               HS OF ART AND DESIGN              84
40  02M655                       LIFE SCIENCES SECONDARY SCHL              50
41  03M415                          WADLEIGH ARTS HIGH SCHOOL              65
42  03M470                               LOUIS D. BRANDEIS HS              48
43  03M479                                      BEACON SCHOOL             166
44  03M485                            FIORELLO H.LAGUARDIA HS             691
45  03M494                         MLK, JR HS FOR ARTS & TECH              38
46  03M860                      FREDERICK DOUGLASS ACADEMY II              11
47  04M409                      COALITION SCHL FOR SOCIAL CHG              18
48  04M435                      MANHATTAN CENTER-SCIENCE&MATH             328
49  04M495                                     PARK EAST H.S.               s
50  04M555                             CENTRAL PARK EAST H.S.               s
51  04M610  THE YOUNG WOMEN'S LEADERSHIP SCHOOL OF EAST HA...              41
52  04M610                       YOUNG WOMEN'S LEADERSHIP SCH               s
53  05M304                              Mott Hall High School              11

   Total Exams Taken Number of Exams with scores 3 4 or 5
35                87                                   26
36                97                                   13
37                34                                   14
38                85                                    9
39               100                                   33
40                90                                   10
41                73                                    s
42                70                                    6
43               197                                  140
44              1236                                  790
45                38                                    6
46                11                                    s
47                18                                    s
48               426                                  261
49                 s                                    s
50                 s                                    s
51                55                                   29
52                 s                                    s
53                11                                    s

=== class_size CSV====
     CSD BOROUGH SCHOOL CODE                     SCHOOL NAME GRADE   \
35    1       M        M020            P.S. 020 Anna Silver     05
36    1       M        M020            P.S. 020 Anna Silver     05
37    1       M        M020            P.S. 020 Anna Silver  0K-09
38    1       M        M020            P.S. 020 Anna Silver    NaN
39    1       M        M034  P.S. 034 Franklin D. Roosevelt     0K
40    1       M        M064           P.S. 064 Robert Simon     0K
41    1       M        M034  P.S. 034 Franklin D. Roosevelt     01
42    1       M        M034  P.S. 034 Franklin D. Roosevelt     01
43    1       M        M034  P.S. 034 Franklin D. Roosevelt     02
44    1       M        M034  P.S. 034 Franklin D. Roosevelt     02
45    1       M        M034  P.S. 034 Franklin D. Roosevelt     03
46    1       M        M034  P.S. 034 Franklin D. Roosevelt     03
47    1       M        M034  P.S. 034 Franklin D. Roosevelt     04
48    1       M        M034  P.S. 034 Franklin D. Roosevelt     04
49    1       M        M034  P.S. 034 Franklin D. Roosevelt     05
50    1       M        M034  P.S. 034 Franklin D. Roosevelt     05
51    1       M        M034  P.S. 034 Franklin D. Roosevelt     06
52    1       M        M034  P.S. 034 Franklin D. Roosevelt     06
53    1       M        M034  P.S. 034 Franklin D. Roosevelt     07

   PROGRAM TYPE CORE SUBJECT (MS CORE and 9-12 ONLY)  \
35       GEN ED                                    -
36          CTT                                    -
37      SPEC ED                                    -
38          NaN                                  NaN
39       GEN ED                                    -
40          CTT                                    -
41       GEN ED                                    -
42          CTT                                    -
43       GEN ED                                    -
44          CTT                                    -
45       GEN ED                                    -
46          CTT                                    -
47       GEN ED                                    -
48          CTT                                    -
49       GEN ED                                    -
50          CTT                                    -
51       GEN ED                                    -
52          CTT                                    -
53       GEN ED                                    -

   CORE COURSE (MS CORE and 9-12 ONLY) SERVICE CATEGORY(K-9* ONLY)  \
35                                   -                           -
36                                   -                           -
37                                   -                      12:1:1
38                                 NaN                         NaN
39                                   -                           -
40                                   -                           -
41                                   -                           -
42                                   -                           -
43                                   -                           -
44                                   -                           -
45                                   -                           -
46                                   -                           -
47                                   -                           -
48                                   -                           -
49                                   -                           -
50                                   -                           -
51                                   -                           -
52                                   -                           -
53                                   -                           -

    NUMBER OF STUDENTS / SEATS FILLED  NUMBER OF SECTIONS  AVERAGE CLASS SIZE  \
35                               57.0                 2.0                28.5
36                               29.0                 1.0                29.0
37                               34.0                 3.0                11.3
38                                NaN                 NaN                 NaN
39                               26.0                 2.0                13.0
40                               27.0                 1.0                27.0
41                               16.0                 1.0                16.0
42                               14.0                 1.0                14.0
43                               24.0                 1.0                24.0
44                               20.0                 1.0                20.0
45                               15.0                 1.0                15.0
46                               14.0                 1.0                14.0
47                               18.0                 1.0                18.0
48                               19.0                 1.0                19.0
49                               19.0                 1.0                19.0
50                               19.0                 1.0                19.0
51                               26.0                 1.0                26.0
52                               27.0                 1.0                27.0
53                               25.0                 1.0                25.0

    SIZE OF SMALLEST CLASS  SIZE OF LARGEST CLASS DATA SOURCE  \
35                    28.0                   29.0         ATS
36                    29.0                   29.0         ATS
37                    11.0                   12.0         ATS
38                     NaN                    NaN         NaN
39                    12.0                   14.0         ATS
40                    27.0                   27.0         ATS
41                    16.0                   16.0         ATS
42                    14.0                   14.0         ATS
43                    24.0                   24.0         ATS
44                    20.0                   20.0         ATS
45                    15.0                   15.0         ATS
46                    14.0                   14.0         ATS
47                    18.0                   18.0         ATS
48                    19.0                   19.0         ATS
49                    19.0                   19.0         ATS
50                    19.0                   19.0         ATS
51                    26.0                   26.0         ATS
52                    27.0                   27.0         ATS
53                    25.0                   25.0         ATS

    SCHOOLWIDE PUPIL-TEACHER RATIO
35                             NaN
36                             NaN
37                             NaN
38                            13.4
39                             NaN
40                             NaN
41                             NaN
42                             NaN
43                             NaN
44                             NaN
45                             NaN
46                             NaN
47                             NaN
48                             NaN
49                             NaN
50                             NaN
51                             NaN
52                             NaN
53                             NaN

=== demographics CSV====
        DBN                                              Name  schoolyear  \
35  01M063  PS 063 WILLIAM MCKINLEY                             20112012
36  01M064                               PS 064 ROBERT SIMON    20052006
37  01M064                               PS 064 ROBERT SIMON    20062007
38  01M064                               PS 064 ROBERT SIMON    20072008
39  01M064                               PS 064 ROBERT SIMON    20082009
40  01M064                               PS 064 ROBERT SIMON    20092010
41  01M064                               PS 064 ROBERT SIMON    20102011
42  01M064  PS 064 ROBERT SIMON                                 20112012
43  01M110                       PS 110 FLORENCE NIGHTINGALE    20052006
44  01M110                       PS 110 FLORENCE NIGHTINGALE    20062007
45  01M110                       PS 110 FLORENCE NIGHTINGALE    20072008
46  01M110                       PS 110 FLORENCE NIGHTINGALE    20082009
47  01M110                       PS 110 FLORENCE NIGHTINGALE    20092010
48  01M110                       PS 110 FLORENCE NIGHTINGALE    20102011
49  01M110  PS 110 FLORENCE NIGHTINGALE                         20112012
50  01M134                            PS 134 HENRIETTA SZOLD    20052006
51  01M134                            PS 134 HENRIETTA SZOLD    20062007
52  01M134                            PS 134 HENRIETTA SZOLD    20072008
53  01M134                            PS 134 HENRIETTA SZOLD    20082009

   fl_percent  frl_percent  total_enrollment prek   k grade1 grade2  \
35        NaN         78.9               176   18  20     30     21
36       79.3          NaN               332   22  48     36     38
37       79.3          NaN               282   31  34     45     39
38       79.3          NaN               295   26  48     49     47
39       79.3          NaN               300   26  44     48     53
40                    90.5               292   26  46     43     44
41                    90.5               322   32  53     47     45
42        NaN         76.9               324   27  54     50     42
43       58.2          NaN               595   18  67     72     66
44       58.2          NaN               470   32  80     71     80
45       58.2          NaN               478   38  82     80     64
46       48.6          NaN               465   29  70     82     84
47                    61.9               475   35  64     68     78
48                    65.5               435   35  72     64     60
49        NaN         52.5               440   34  67     75     65
50       77.8          NaN               408   15  69     66     60
51       77.8          NaN               348   34  42     67     61
52       77.8          NaN               367   36  66     49     56
53       79.5          NaN               391   36  58     58     50

      ...     black_num black_per hispanic_num hispanic_per white_num  \
35    ...            41      23.3          110         62.5        15
36    ...            83      25.0          227         68.4         8
37    ...            75      26.6          188         66.7         4
38    ...            70      23.7          206         69.8         5
39    ...            72      24.0          200         66.7         5
40    ...            67      22.9          192         65.8         9
41    ...            79      24.5          200         62.1        14
42    ...            76      23.5          193         59.6        24
43    ...           111      18.7          347         58.3        35
44    ...            69      14.7          270         57.4        45
45    ...            68      14.2          264         55.2        70
46    ...            73      15.7          247         53.1        68
47    ...            69      14.5          237         49.9        87
48    ...            65      14.9          198         45.5       108
49    ...            58      13.2          194         44.1       124
50    ...            98      24.0          227         55.6        11
51    ...            70      20.1          210         60.3         6
52    ...            81      22.1          202         55.0         4
53    ...            81      20.7          221         56.5         4

   white_per male_num male_per female_num female_per
35       8.5     97.0     55.1       79.0       44.9
36       2.4    172.0     51.8      160.0       48.2
37       1.4    145.0     51.4      137.0       48.6
38       1.7    149.0     50.5      146.0       49.5
39       1.7    162.0     54.0      138.0       46.0
40       3.1    152.0     52.1      140.0       47.9
41       4.3    179.0     55.6      143.0       44.4
42       7.4    184.0     56.8      140.0       43.2
43       5.9    292.0     49.1      303.0       50.9
44       9.6    236.0     50.2      234.0       49.8
45      14.6    227.0     47.5      251.0       52.5
46      14.6    226.0     48.6      239.0       51.4
47      18.3    224.0     47.2      251.0       52.8
48      24.8    221.0     50.8      214.0       49.2
49      28.2    219.0     49.8      221.0       50.2
50       2.7    210.0     51.5      198.0       48.5
51       1.7    172.0     49.4      176.0       50.6
52       1.1    169.0     46.0      198.0       54.0
53       1.0    181.0     46.3      210.0       53.7

[19 rows x 38 columns]

=== graduation CSV====
      Demographic     DBN                            School Name    Cohort  \
35  Total Cohort  01M539  NEW EXPLORATIONS INTO SCIENCE  TECHNO      2003
36  Total Cohort  01M539  NEW EXPLORATIONS INTO SCIENCE  TECHNO      2004
37  Total Cohort  01M539  NEW EXPLORATIONS INTO SCIENCE  TECHNO      2005
38  Total Cohort  01M539  NEW EXPLORATIONS INTO SCIENCE  TECHNO      2006
39  Total Cohort  01M539  NEW EXPLORATIONS INTO SCIENCE  TECHNO  2006 Aug
40  Total Cohort  01M650                   CASCADES HIGH SCHOOL      2001
41  Total Cohort  01M650                   CASCADES HIGH SCHOOL      2002
42  Total Cohort  01M650                   CASCADES HIGH SCHOOL      2003
43  Total Cohort  01M650                   CASCADES HIGH SCHOOL      2004
44  Total Cohort  01M650                   CASCADES HIGH SCHOOL      2005
45  Total Cohort  01M650                   CASCADES HIGH SCHOOL      2006
46  Total Cohort  01M650                   CASCADES HIGH SCHOOL  2006 Aug
47  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE      2001
48  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE      2002
49  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE      2003
50  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE      2004
51  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE      2005
52  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE      2006
53  Total Cohort  01M696         BARD HIGH SCHOOL EARLY COLLEGE  2006 Aug

    Total Cohort Total Grads - n Total Grads - % of cohort Total Regents - n  \
35            58              58                      100%                57
36            60              58                     96.7%                58
37            49              47                     95.9%                47
38            46              46                      100%                46
39            46              46                      100%                46
40            86              27                     31.4%                 2
41            92              22                     23.9%                 6
42            93              27                       29%                 7
43            67              28                     41.8%                10
44            95              31                     32.6%                17
45            89              49                     55.1%                36
46            89              49                     55.1%                36
47           119             112                     94.1%               110
48           110             104                     94.5%               103
49           126             123                     97.6%               123
50           117             108                     92.3%               108
51           115             107                       93%               107
52           139             134                     96.4%               134
53           139             136                     97.8%               136

   Total Regents - % of cohort Total Regents - % of grads  \
35                       98.3%                      98.3%
36                       96.7%                       100%
37                       95.9%                       100%
38                        100%                       100%
39                        100%                       100%
40                        2.3%                       7.4%
41                        6.5%                      27.3%
42                        7.5%                      25.9%
43                       14.9%        35.700000000000003%
44         17.899999999999999%                      54.8%
45                       40.4%                      73.5%
46                       40.4%                      73.5%
47                       92.4%                      98.2%
48                       93.6%                        99%
49                       97.6%                       100%
50                       92.3%                       100%
51                         93%                       100%
52                       96.4%                       100%
53                       97.8%                       100%

              ...            Regents w/o Advanced - n  \
35            ...                                   8
36            ...                                   4
37            ...                                   9
38            ...                                  15
39            ...                                  15
40            ...                                   2

### Read in the survey .txt files and concatenate them into one dataframe
Make sure to indicate the encoding and to the delimiter

In [31]:
survey_all = pd.read_csv("schools/survey_all.txt", delimiter="\t", encoding="windows-1252")
survey_d75 = pd.read_csv("schools/survey_d75.txt", delimiter="\t", encoding="windows-1252")

survey = pd.concat([survey_all, survey_d75], axis=0)

survey.head(5)

,N_p,N_s,N_t,aca_p_11,aca_s_11,aca_t_11,aca_tot_11,bn,com_p_11,com_s_11,...,t_q8c_1,t_q8c_2,t_q8c_3,t_q8c_4,t_q9,t_q9_1,t_q9_2,t_q9_3,t_q9_4,t_q9_5
0,90.0,NaN,22.0,7.8,NaN,7.9,7.9,M015,7.6,NaN,...,29.0,67.0,5.0,0.0,NaN,5.0,14.0,52.0,24.0,5.0
1,161.0,NaN,34.0,7.8,NaN,9.1,8.4,M019,7.6,NaN,...,74.0,21.0,6.0,0.0,NaN,3.0,6.0,3.0,78.0,9.0
2,367.0,NaN,42.0,8.6,NaN,7.5,8.0,M020,8.3,NaN,...,33.0,35.0,20.0,13.0,NaN,3.0,5.0,16.0,70.0,5.0
3,151.0,145.0,29.0,8.5,7.4,7.8,7.9,M034,8.2,5.9,...,21.0,45.0,28.0,7.0,NaN,0.0,18.0,32.0,39.0,11.0
4,90.0,NaN,23.0,7.9,NaN,8.1,8.0,M063,7.9,NaN,...,59.0,36.0,5.0,0.0,NaN,10.0,5.0,10.0,60.0,15.0

In [32]:
# Adjust column to match DBN uppercase
survey["DBN"] = survey["dbn"]

cols = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]

survey = survey[cols]

data["survey"] = survey
data["survey"]

,DBN,rr_s,rr_t,rr_p,N_s,N_t,N_p,saf_p_11,com_p_11,eng_p_11,...,eng_t_11,aca_t_11,saf_s_11,com_s_11,eng_s_11,aca_s_11,saf_tot_11,com_tot_11,eng_tot_11,aca_tot_11
0,01M015,NaN,88,60,NaN,22.0,90.0,8.5,7.6,7.5,...,7.6,7.9,NaN,NaN,NaN,NaN,8.0,7.7,7.5,7.9
1,01M019,NaN,100,60,NaN,34.0,161.0,8.4,7.6,7.6,...,8.9,9.1,NaN,NaN,NaN,NaN,8.5,8.1,8.2,8.4
2,01M020,NaN,88,73,NaN,42.0,367.0,8.9,8.3,8.3,...,6.8,7.5,NaN,NaN,NaN,NaN,8.2,7.3,7.5,8.0
3,01M034,89.0,73,50,145.0,29.0,151.0,8.8,8.2,8.0,...,6.8,7.8,6.2,5.9,6.5,7.4,7.3,6.7,7.1,7.9
4,01M063,NaN,100,60,NaN,23.0,90.0,8.7,7.9,8.1,...,7.8,8.1,NaN,NaN,NaN,NaN,8.5,7.6,7.9,8.0
5,01M064,NaN,94,61,NaN,32.0,159.0,8.8,8.2,8.2,...,8.3,8.5,NaN,NaN,NaN,NaN,8.7,7.9,8.2,8.5
6,01M110,NaN,91,79,NaN,32.0,302.0,8.4,7.6,7.6,...,5.7,6.5,NaN,NaN,NaN,NaN,7.6,6.4,6.6,7.1
7,01M134,NaN,74,66,NaN,23.0,192.0,9.0,7.9,8.0,...,6.5,7.3,NaN,NaN,NaN,NaN,7.7,7.0,7.2,7.6
8,01M137,NaN,67,75,NaN,14.0,145.0,8.7,8.0,8.0,...,6.1,6.9,NaN,NaN,NaN,NaN,7.8,7.2,7.1,7.5
9,01M140,98.0,94,68,185.0,34.0,213.0,8.8,8.0,8.1,...,6.3,7.3,7.6,6.7,7.5,8.0,7.9,7.1,7.3,7.9
10,01M142,NaN,100,100,NaN,38.0,331.0,9.1,8.0,8.1,...,7.8,8.1,NaN,NaN,NaN,NaN,8.4,7.6,8.0,8.2
11,01M184,96.0,82,80,156.0,36.0,382.0,8.7,8.1,8.0,...,7.2,8.1,7.4,5.9,7.2,7.7,8.0,6.9,7.5,7.9
12,01M188,82.0,59,40,119.0,22.0,106.0,8.7,8.1,8.2,...,5.7,6.4,6.8,6.3,7.0,7.5,7.0,6.5,7.0,7.2
13,01M292,89.0,70,39,379.0,26.0,151.0,7.8,7.7,7.4,...,6.1,6.5,6.0,5.6,6.1,6.7,6.7,6.2,6.6,7.0
14,01M301,99.0,100,21,181.0,22.0,38.0,8.5,7.3,7.4,...,8.5,8.0,5.8,5.9,6.4,7.0,7.3,6.9,7.4,7.5
15,01M315,NaN,100,67,NaN,20.0,135.0,9.0,8.6,8.8,...,8.3,8.2,NaN,NaN,NaN,NaN,8.7,8.2,8.5,8.5
16,01M332,96.0,100,86,110.0,14.0,93.0,8.4,7.9,7.8,...,8.5,8.8,7.2,6.6,7.0,8.1,8.0,7.4,7.7,8.3
17,01M345,100.0,87,53,254.0,20.0,127.0,8.4,7.6,7.6,...,6.0,6.5,7.0,6.3,7.0,7.6,7.3,6.3,6.9,7.3
18,01M361,NaN,74,42,NaN,17.0,93.0,8.9,8.2,8.3,...,8.6,8.6,NaN,NaN,NaN,NaN,8.6,8.0,8.5,8.5
19,01M363,NaN,54,40,NaN,13.0,115.0,8.7,8.1,8.4,...,7.7,7.4,NaN,NaN,NaN,NaN,8.3,7.2,8.1,7.6
20,01M364,NaN,86,54,NaN,19.0,152.0,9.3,8.9,8.9,...,9.1,9.0,NaN,NaN,NaN,NaN,9.3,8.7,9.0,8.9
21,01M378,78.0,91,82,204.0,20.0,203.0,8.8,7.9,7.8,...,5.1,6.6,7.5,7.7,7.3,8.0,7.6,6.8,6.7,7.7
22,01M448,84.0,95,10,385.0,37.0,46.0,7.9,7.4,7.2,...,6.6,7.3,6.0,5.7,6.3,7.0,6.8,6.3,6.7,7.2
23,01M450,0.0,98,28,NaN,42.0,150.0,8.7,8.2,8.1,...,8.0,8.8,NaN,NaN,NaN,NaN,7.9,7.9,7.9,8.4
24,01M458,40.0,100,23,66.0,10.0,37.0,8.1,7.0,6.7,...,8.9,8.9,6.8,6.1,6.1,6.8,7.8,7.1,7.2,7.8
25,01M509,90.0,100,21,306.0,29.0,69.0,7.7,7.4,7.2,...,6.1,6.8,6.4,5.9,6.4,7.0,6.9,6.2,6.6,7.0
26,01M515,95.0,100,86,454.0,36.0,389.0,8.3,7.2,7.4,...,8.7,9.1,8.0,6.3,7.0,7.3,8.5,7.0,7.7,8.0
27,01M539,98.0,68,51,923.0,67.0,736.0,8.5,7.9,7.9,...,5.9,7.3,7.3,6.4,7.0,7.7,7.8,6.7,6.9,7.8
28,01M650,75.0,86,19,125.0,12.0,30.0,9.0,8.4,8.1,...,8.3,8.7,8.1,6.9,7.9,8.4,8.3,7.6,8.1,8.6
29,01M696,98.0,81,50,561.0,30.0,283.0,8.8,8.2,8.3,...,7.5,8.3,8.3,7.3,8.0,8.9,8.5,7.6,8.0,8.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26,75M811,62.0,61,54,44.0,54.0,172.0,8.8,8.4,8.1,...,7.5,7.7,7.3,6.8,7.7,8.0,7.9,7.5,7.8,7.9
27,75Q004,89.0,92,54,24.0,95.0,198.0,9.0,8.4,8.2,...,7.3,7.9,7.5,7.1,8.4,8.7,8.2,7.7,8.0,8.4
28,75Q009,57.0,61,39,51.0,59.0,163.0,8.9,8.2,7.9,...,6.7,7.0,6.3,6.0,7.4,7.7,7.5,7.1,7.3,7.6
29,75Q023,75.0,93,21,93.0,65.0,52.0,8.7,8.0,8.2,...,6.5,7.5,6.8,5.9,7.4,7.5,7.5,6.9,7.4,7.8
30,75Q075,40.0,69,28,23.0,57.0,85.0,8.7,7.7,7.5,...,6.5,7.2,7.4,6.9,8.0,8.4,7.7,7.1,7.4,7.8
31,75Q177,64.0,70,41,95.0,85.0,197.0,8.9,8.0,7.8,...,7.9,8.1,8.8,8.3,8.8,8.8,8.7,8.1,8.2,8.3
32,75Q224,97.0,75,49,62.0,75.0,205.0,9.0,8.3,8.1,...,7.4,7.9,7.7,6.8,7.8,8.0,8.2,7.6,7.8,8.1
33,75Q233,85.0,73,26,121.0,56.0,101.0,8.9,8.0,7.9,...,7.5,8.3,7.9,7.4,7.8,7.8,8.3,7.8,7.7,8.1
34,75Q255,71.0,60,48,12.0,76.0,194.0,8.9,8.2,8.0,...,7.9,7.9,7.9,6.2,7.2,7.1,8.3,7.5,7.7,7.7
35,75Q256,88.0,93,46,195.0,105.0,184.0,8.6,8.0,8.1,...,7.1,8.0,6.7,6.5,7.4,7.5,7.5,7.3,7.5,7.9
36,75Q721,90.0,77,43,195.0,61.0,172.0,8.9,8.1,7.9,...,6.6,6.9,8.3,7.5,8.1,8.1,8.1,7.4,7.5,7.7
37,75Q752,45.0,47,9,160.0,36.0,34.0,8.5,7.5,7.3,...,5.5,5.9,6.5,5.7,6.8,7.1,6.7,6.1,6.4,6.6
38,75Q811,75.0,71,34,101.0,49.0,111.0,8.8,8.0,7.9,...,7.8,8.2,8.1,7.3,8.4,8.2,8.5,7.8,8.0,8.2
39,75Q993,87.0,76,47,90.0,71.0,185.0,9.2,8.5,8.4,...,7.0,7.7,8.5,8.0,8.4,8.9,8.6,8.0,7.9,8.4
40,75R025,57.0,75,21,238.0,70.0,97.0,8.1,7.5,7.4,...,6.6,7.8,6.9,5.9,6.9,7.3,7.4,7.0,6.9,7.6
41,75R037,0.0,55,46,NaN,52.0,143.0,8.9,8.0,8.0,...,7.5,7.4,NaN,NaN,NaN,NaN,8.3,7.4,7.6,7.5
42,75R373,92.0,60,34,22.0,64.0,132.0,8.8,8.1,8.1,...,6.6,6.9,8.1,8.0,8.7,8.5,8.0,7.6,7.8,7.9
43,75R721,96.0,93,57,82.0,71.0,187.0,9.1,8.5,8.4,...,8.2,9.1,8.8,8.1,8.9,8.8,9.0,8.4,8.5,8.8
44,75X010,84.0,91,56,76.0,86.0,247.0,9.0,8.5,8.3,...,7.2,7.9,7.4,7.3,7.6,7.8,8.0,7.9,7.7,8.1
45,75X012,19.0,47,9,37.0,25.0,18.0,5.8,6.5,6.3,...,5.2,5.3,5.7,5.7,6.8,6.5,5.2,5.8,5.8,5.8
46,75X017,69.0,79,37,64.0,72.0,122.0,8.8,8.1,7.9,...,6.7,7.0,6.6,6.4,7.6,8.0,7.5,7.1,7.4,7.7
47,75X168,92.0,71,53,78.0,61.0,206.0,8.9,8.5,8.2,...,7.3,7.6,6.6,6.7,7.6,7.8,7.6,7.6,7.7,7.9
48,75X176,86.0,55,35,130.0,96.0,233.0,9.1,8.6,8.5,...,7.3,7.4,7.7,5.9,7.6,7.3,8.1,7.4,7.8,7.8
49,75X186,95.0,67,32,105.0,64.0,152.0,8.3,7.8,7.8,...,7.1,8.0,7.6,8.1,8.0,8.6,7.9,7.8,7.7,8.2
50,75X188,27.0,47,28,65.0,52.0,117.0,8.8,8.1,7.9,...,6.3,6.6,6.8,5.9,7.1,7.6,7.3,6.8,7.1,7.4
51,75X352,90.0,58,48,38.0,46.0,160.0,8.9,8.3,7.9,...,5.7,5.8,6.8,6.0,7.8,7.6,7.4,6.6,7.1,7.2
52,75X721,84.0,90,48,237.0,82.0,239.0,8.6,7.6,7.5,...,6.7,7.0,7.8,7.2,7.8,7.9,8.0,7.1,7.3,7.6
53,75X723,77.0,74,20,103.0,69.0,74.0,8.4,7.8,7.8,...,6.7,7.6,6.7,7.2,7.7,7.7,7.6,7.4,7.4,7.7
54,75X754,63.0,93,22,336.0,82.0,124.0,8.3,7.5,7.5,...,6.6,7.1,6.8,6.6,7.6,7.7,7.2,6.9,7.3,7.5
55,75X811,38.0,63,19,44.0,71.0,119.0,8.5,7.8,7.7,...,6.5,7.0,7.7,6.1,7.7,7.7,7.7,6.8,7.3,7.5

#### Create a new column DBN in the class_size data so that it matches the DBN columns inthe other CSV files.
Note: whenever the column 'CSD' is less than two digits long, pad it with a leading 0.  The code should look like this: '01M015' not like '1M015'

In [33]:
data['hs_directory']['DBN'] = data['hs_directory']['dbn']

def pad_the_csd(size):
    size_as_str = str(size)
    if len(size_as_str) == 2:
        return size_as_str
    else:
        return size_as_str.zfill(2)

data['class_size']['padded_csd'] = data['class_size']['CSD'].apply(pad_the_csd) 
    
data['class_size']['DBN'] = data['class_size']['padded_csd'] + data['class_size']['SCHOOL CODE']  
print(data['class_size'].head(3))

   CSD BOROUGH SCHOOL CODE                SCHOOL NAME GRADE  PROGRAM TYPE  \
0    1       M        M015  P.S. 015 Roberto Clemente     0K       GEN ED
1    1       M        M015  P.S. 015 Roberto Clemente     0K          CTT
2    1       M        M015  P.S. 015 Roberto Clemente     01       GEN ED

  CORE SUBJECT (MS CORE and 9-12 ONLY) CORE COURSE (MS CORE and 9-12 ONLY)  \
0                                    -                                   -
1                                    -                                   -
2                                    -                                   -

  SERVICE CATEGORY(K-9* ONLY)  NUMBER OF STUDENTS / SEATS FILLED  \
0                           -                               19.0
1                           -                               21.0
2                           -                               17.0

   NUMBER OF SECTIONS  AVERAGE CLASS SIZE  SIZE OF SMALLEST CLASS  \
0                 1.0                19.0                    19.0
1                 1.0                21.0                    21.0
2                 1.0                17.0                    17.0

   SIZE OF LARGEST CLASS DATA SOURCE  SCHOOLWIDE PUPIL-TEACHER RATIO  \
0                   19.0         ATS                             NaN
1                   21.0         ATS                             NaN
2                   17.0         ATS                             NaN

  padded_csd     DBN
0         01  01M015
1         01  01M015
2         01  01M015

### Add up the math, reading and writing scores in 'sat_results' and store them in a new row 'sat_score'

In [34]:
math = pd.to_numeric(data['sat_results']['SAT Math Avg. Score'], errors="coerce")

reading = pd.to_numeric(data['sat_results']['SAT Critical Reading Avg. Score'], errors="coerce")

writing = pd.to_numeric(data['sat_results']['SAT Writing Avg. Score'], errors="coerce")

data['sat_results']['sat_score'] = math + reading + writing
     
data['sat_results']['sat_score'].head(3)

0    1122.0
1    1172.0
2    1149.0
Name: sat_score, dtype: float64

In [35]:
import re

def extract_lat(coords):
    ext_coords = re.findall(r"\(.+\)", coords)   
    ext_lat = ext_coords[0].split(",")[0].replace("(", "")
    return ext_lat
    
data['hs_directory']['lat'] = data['hs_directory']['Location 1'].apply(extract_lat) 
    
data['hs_directory'].head(5)

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,NaN,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.67029890700047
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,NaN,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.8276026690005
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,NaN,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414068000494
3,02M280,Manhattan Early College School for Advertising,Manhattan,M520,718-935-3477,NaN,9.0,10,9.0,14.0,...,NaN,"411 Pearl Street\nNew York, NY 10038\n(40.7106...",1.0,1.0,29.0,1001388.0,1.001130e+09,Chinatown ...,02M280,40.71067947100045
4,28Q680,Queens Gateway to Health Sciences Secondary Sc...,Queens,Q695,718-969-3155,718-969-3552,6.0,12,NaN,NaN,...,NaN,"160 20 Goethals Avenue\nJamaica, NY 11432\n(40...",8.0,24.0,1267.0,4539721.0,4.068580e+09,Pomonok-Flushing Heights-Hillcrest ...,28Q680,40.718810094000446

In [36]:
def extract_long(coords):
    ext_coords = re.findall(r"\(.+\)", coords)
    ext_long = ext_coords[0].split(",")[1].replace(")", "").strip()
    return ext_long

data['hs_directory']['lon'] = data['hs_directory']['Location 1'].apply(extract_long) 
    
data['hs_directory']['lat'] = pd.to_numeric(data['hs_directory']['lat'], errors='coerce')
data['hs_directory']['lon'] = pd.to_numeric(data['hs_directory']['lon'], errors='coerce')

data['hs_directory'].head(3)

,dbn,school_name,borough,building_code,phone_number,fax_number,grade_span_min,grade_span_max,expgrade_span_min,expgrade_span_max,...,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,DBN,lat,lon
0,17K548,Brooklyn School for Music & Theatre,Brooklyn,K440,718-230-6250,718-230-6262,9.0,12,NaN,NaN,...,"883 Classon Avenue\nBrooklyn, NY 11225\n(40.67...",9.0,35.0,213.0,3029686.0,3.011870e+09,Crown Heights South ...,17K548,40.670299,-73.961648
1,09X543,High School for Violin and Dance,Bronx,X400,718-842-0687,718-589-9849,9.0,12,NaN,NaN,...,"1110 Boston Road\nBronx, NY 10456\n(40.8276026...",3.0,16.0,135.0,2004526.0,2.026340e+09,Morrisania-Melrose ...,09X543,40.827603,-73.904475
2,09X327,Comprehensive Model School Project M.S. 327,Bronx,X240,718-294-8111,718-294-8109,6.0,12,NaN,NaN,...,"1501 Jerome Avenue\nBronx, NY 10452\n(40.84241...",4.0,14.0,209.0,2008336.0,2.028590e+09,West Concourse ...,09X327,40.842414,-73.916162

### Using class_size CSV, pick rows where the value in the GRADE column is 09-12 and only select rows where PROGRAM TYPE is GEN ED.

In [37]:
class_size = data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size[:5]

,CSD,BOROUGH,SCHOOL CODE,SCHOOL NAME,GRADE,PROGRAM TYPE,CORE SUBJECT (MS CORE and 9-12 ONLY),CORE COURSE (MS CORE and 9-12 ONLY),SERVICE CATEGORY(K-9* ONLY),NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,DATA SOURCE,SCHOOLWIDE PUPIL-TEACHER RATIO,padded_csd,DBN
225,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 9,-,63.0,3.0,21.0,19.0,25.0,STARS,NaN,01,01M292
226,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 10,-,79.0,3.0,26.3,24.0,31.0,STARS,NaN,01,01M292
227,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 11,-,38.0,2.0,19.0,16.0,22.0,STARS,NaN,01,01M292
228,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,ENGLISH,English 12,-,69.0,3.0,23.0,13.0,30.0,STARS,NaN,01,01M292
229,1,M,M292,Henry Street School for International Studies,09-12,GEN ED,MATH,Integrated Algebra,-,53.0,3.0,17.7,16.0,21.0,STARS,NaN,01,01M292

#### To further reduce, split the dataframe cloumn into separate groups using 'CORE SUBJECT (MS CORE and 9-12 ONLY)' with the .groupby() method then gather the avegrage with .agg() method and numpy's mean() method.  Reassign the result back to the data dictionary's "class_size" column

NOTE: 'DBN' is used to make these grouping so it will become an index not a column anymore.  Use reset_index() method to make 'DBN' a column again

In [38]:
import numpy as np

class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
data["class_size"] = class_size
class_size[:5]

,DBN,CSD,NUMBER OF STUDENTS / SEATS FILLED,NUMBER OF SECTIONS,AVERAGE CLASS SIZE,SIZE OF SMALLEST CLASS,SIZE OF LARGEST CLASS,SCHOOLWIDE PUPIL-TEACHER RATIO
0,01M292,1,88.0000,4.000000,22.564286,18.50,26.571429,NaN
1,01M332,1,46.0000,2.000000,22.000000,21.00,23.500000,NaN
2,01M378,1,33.0000,1.000000,33.000000,33.00,33.000000,NaN
3,01M448,1,105.6875,4.750000,22.231250,18.25,27.062500,NaN
4,01M450,1,57.6000,2.733333,21.200000,19.40,22.866667,NaN

#### Reduce demographics down to schoolyear == 20112012

In [39]:
demographics = data["demographics"]
demographics = demographics[demographics["schoolyear"] == 20112012]
data["demographics"] = demographics
data["demographics"][:5]

,DBN,Name,schoolyear,fl_percent,frl_percent,total_enrollment,prek,k,grade1,grade2,...,black_num,black_per,hispanic_num,hispanic_per,white_num,white_per,male_num,male_per,female_num,female_per
6,01M015,P.S. 015 ROBERTO CLEMENTE,20112012,NaN,89.4,189,13,31,35,28,...,63,33.3,109,57.7,4,2.1,97.0,51.3,92.0,48.7
13,01M019,P.S. 019 ASHER LEVY,20112012,NaN,61.5,328,32,46,52,54,...,81,24.7,158,48.2,28,8.5,147.0,44.8,181.0,55.2
20,01M020,PS 020 ANNA SILVER,20112012,NaN,92.5,626,52,102,121,87,...,55,8.8,357,57.0,16,2.6,330.0,52.7,296.0,47.3
27,01M034,PS 034 FRANKLIN D ROOSEVELT,20112012,NaN,99.7,401,14,34,38,36,...,90,22.4,275,68.6,8,2.0,204.0,50.9,197.0,49.1
35,01M063,PS 063 WILLIAM MCKINLEY,20112012,NaN,78.9,176,18,20,30,21,...,41,23.3,110,62.5,15,8.5,97.0,55.1,79.0,44.9

#### Reduce graduation down to demographics == Total Cohort and Cohort == 2006

In [40]:
graduation = data["graduation"]
graduation = graduation[graduation["Demographic"] == "Total Cohort"]
graduation = graduation[graduation["Cohort"] == "2006"]
data["graduation"] = graduation
data["graduation"].head(5)

,Demographic,DBN,School Name,Cohort,Total Cohort,Total Grads - n,Total Grads - % of cohort,Total Regents - n,Total Regents - % of cohort,Total Regents - % of grads,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
3,Total Cohort,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL,2006,78,43,55.1%,36,46.2%,83.7%,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
10,Total Cohort,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,2006,124,53,42.7%,42,33.9%,79.2%,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
17,Total Cohort,01M450,EAST SIDE COMMUNITY SCHOOL,2006,90,70,77.8%,67,74.400000000000006%,95.7%,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
24,Total Cohort,01M509,MARTA VALLE HIGH SCHOOL,2006,84,47,56%,40,47.6%,85.1%,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%
31,Total Cohort,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHO,2006,193,105,54.4%,91,47.2%,86.7%,...,22,11.4%,21%,14,7.3%,13.3%,53,27.5%,35,18.100000000000001%

#### Convert the Advanced Placement (AP) test scores from strings to numeric values.

In [41]:
cols = ['AP Test Takers ', 'Total Exams Taken', 'Number of Exams with scores 3 4 or 5']

for col in cols:
    data["ap_2010"][col] = pd.to_numeric(data["ap_2010"][col], errors="coerce")
    
print(data["ap_2010"].dtypes)

DBN                                      object
SchoolName                               object
AP Test Takers                          float64
Total Exams Taken                       float64
Number of Exams with scores 3 4 or 5    float64
dtype: object

### Merge all data sets into one

1) merge _sat_results_ and _graduation_ using a __left__ merge

In [42]:
combined = data["sat_results"]
combined = combined.merge(data["ap_2010"], how="left", on="DBN")
combined = combined.merge(data["graduation"], how="left", on="DBN")
print("Total rows and columns after left merge: {}".format(combined.shape))
combined.head(5)

Total rows and columns after left merge: (479, 33)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,Regents w/o Advanced - n,Regents w/o Advanced - % of cohort,Regents w/o Advanced - % of grads,Local - n,Local - % of cohort,Local - % of grads,Still Enrolled - n,Still Enrolled - % of cohort,Dropped Out - n,Dropped Out - % of cohort
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,1122.0,NaN,NaN,NaN,...,36,46.2%,83.7%,7,9%,16.3%,16,20.5%,11,14.1%
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,...,34,27.4%,64.2%,11,8.9%,20.8%,46,37.1%,20,16.100000000000001%
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,1149.0,EAST SIDE COMMUNITY HS,19.0,21.0,...,67,74.400000000000006%,95.7%,3,3.3%,4.3%,15,16.7%,5,5.6%
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,1174.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,1207.0,NaN,NaN,NaN,...,23,27.4%,48.9%,7,8.300000000000001%,14.9%,25,29.8%,5,6%

2) merge **class_size**, **demographics**, **survey**, and **hs_directory** using an __inner__ merge 

(__Note__: these data sets have fewer missing DBN values so an inner join type will preserve all matching records and exclude those that don't match between datasets.)

In [43]:
sets = ["class_size", "demographics", "survey", "hs_directory"]

for set in sets:
   combined = combined.merge(data[set], how="inner", on="DBN")

print("Total rows and columns after inner merge: {}".format(combined.shape))
combined.head(5)

Total rows and columns after inner merge: (363, 165)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,lat,lon
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,1122.0,NaN,NaN,NaN,...,NaN,"220 Henry Street\nNew York, NY 10002\n(40.7137...",3.0,1.0,201.0,1003223.0,1.002690e+09,Lower East Side ...,40.713764,-73.985260
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,...,NaN,"200 Monroe Street\nNew York, NY 10002\n(40.712...",3.0,1.0,202.0,1003214.0,1.002590e+09,Lower East Side ...,40.712332,-73.984797
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,1149.0,EAST SIDE COMMUNITY HS,19.0,21.0,...,NaN,"420 East 12 Street\nNew York, NY 10009\n(40.72...",3.0,2.0,34.0,1005974.0,1.004390e+09,East Village ...,40.729783,-73.983041
3,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,1207.0,NaN,NaN,NaN,...,NaN,"145 Stanton Street\nNew York, NY 10002\n(40.72...",3.0,1.0,3001.0,1004323.0,1.003540e+09,Chinatown ...,40.720569,-73.985673
4,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,...,NaN,"111 Columbia Street\nNew York, NY 10002\n(40.7...",3.0,2.0,2201.0,1004070.0,1.003350e+09,Lower East Side ...,40.718725,-73.979426

### Calculate the average for each column to help fill in NaN values. 
**substitute any remaining NaN values with zero**

In [44]:
avg = combined.mean()
avg

sat_score                               1.223439e+03
AP Test Takers                          1.290288e+02
Total Exams Taken                       1.970385e+02
Number of Exams with scores 3 4 or 5    1.534500e+02
Total Cohort                            1.938710e+02
CSD                                     1.401928e+01
NUMBER OF STUDENTS / SEATS FILLED       1.717624e+02
NUMBER OF SECTIONS                      6.491468e+00
AVERAGE CLASS SIZE                      2.479408e+01
SIZE OF SMALLEST CLASS                  1.984065e+01
SIZE OF LARGEST CLASS                   2.871611e+01
SCHOOLWIDE PUPIL-TEACHER RATIO                   NaN
schoolyear                              2.011201e+07
frl_percent                             6.611901e+01
total_enrollment                        7.930358e+02
ell_num                                 9.205234e+01
ell_percent                             1.333499e+01
sped_num                                1.021350e+02
sped_percent                            1.424766e+01
asian_num                               1.357934e+02
asian_per                               1.014959e+01
black_num                               2.365923e+02
black_per                               3.657521e+01
hispanic_num                            3.054628e+02
hispanic_per                            4.406832e+01
white_num                               1.094573e+02
white_per                               8.430028e+00
male_num                                4.000496e+02
male_per                                4.937851e+01
female_num                              3.929835e+02
                                            ...
saf_p_11                                8.182920e+00
com_p_11                                7.619559e+00
eng_p_11                                7.517906e+00
aca_p_11                                7.806336e+00
saf_t_11                                7.144353e+00
com_t_11                                6.528375e+00
eng_t_11                                6.990634e+00
aca_t_11                                7.513499e+00
saf_s_11                                6.611667e+00
com_s_11                                6.094722e+00
eng_s_11                                6.620278e+00
aca_s_11                                7.381389e+00
saf_tot_11                              7.311570e+00
com_tot_11                              6.747107e+00
eng_tot_11                              7.040220e+00
aca_tot_11                              7.569421e+00
grade_span_min                          8.465374e+00
grade_span_max                          1.200000e+01
expgrade_span_min                                NaN
expgrade_span_max                       1.200000e+01
postcode                                1.072472e+04
total_students                          7.775565e+02
number_programs                         1.834711e+00
Community Board                         6.792244e+00
Council District                        2.223823e+01
Census Tract                            3.760028e+03
BIN                                     2.587480e+06
BBL                                     2.515083e+09
lat                                     4.074353e+01
lon                                    -7.392534e+01
dtype: float64

In [48]:
combined = combined.fillna(avg)
combined = combined.fillna(0)
combined.head(5)

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score,SchoolName,AP Test Takers,Total Exams Taken,...,priority10,Location 1,Community Board,Council District,Census Tract,BIN,BBL,NTA,lat,lon
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,1122.0,0,129.028846,197.038462,...,0,"220 Henry Street\nNew York, NY 10002\n(40.7137...",3.0,1.0,201.0,1003223.0,1.002690e+09,Lower East Side ...,40.713764,-73.985260
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,1172.0,UNIVERSITY NEIGHBORHOOD H.S.,39.000000,49.000000,...,0,"200 Monroe Street\nNew York, NY 10002\n(40.712...",3.0,1.0,202.0,1003214.0,1.002590e+09,Lower East Side ...,40.712332,-73.984797
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,1149.0,EAST SIDE COMMUNITY HS,19.000000,21.000000,...,0,"420 East 12 Street\nNew York, NY 10009\n(40.72...",3.0,2.0,34.0,1005974.0,1.004390e+09,East Village ...,40.729783,-73.983041
3,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,1207.0,0,129.028846,197.038462,...,0,"145 Stanton Street\nNew York, NY 10002\n(40.72...",3.0,1.0,3001.0,1004323.0,1.003540e+09,Chinatown ...,40.720569,-73.985673
4,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525,1621.0,"NEW EXPLORATIONS SCI,TECH,MATH",255.000000,377.000000,...,0,"111 Columbia Street\nNew York, NY 10002\n(40.7...",3.0,2.0,2201.0,1004070.0,1.003350e+09,Lower East Side ...,40.718725,-73.979426

#### Add a column to the data set that specifies the school district

**Note:** The school district is just the first two characters of the DBN

In [52]:
def first_two_chars(some_string):
    return some_string[:2]

combined["school_dist"] = combined["DBN"].apply(first_two_chars)

combined["school_dist"].tail(5)

358    32
359    32
360    32
361    32
362    32
Name: school_dist, dtype: object